<!-- HEADER -->
<header>

<!-- NAVIGATION -->

<nav>

  <div class="container">
    <ul>
      <li><a href="#" class="cool-link">HOME</a></li>
      <li><a href="#" class="cool-link">PORTFOLIO</a></li>
      <li><a href="#" class="cool-link">BLOG</a></li>

    <!-- LOGO -->
    <a href="#" class="navbar-brand"><img src="../assets/img/Logo.png" alt="logo"></a>
    <!-- /LOGO -->

      <li><a href="#" class="cool-link">PAGES</a></li>
      <li><a href="#" class="cool-link">ABOUT US</a></li>
      <li><a href="#" class="cool-link">CONTACT</a></li>
    </ul>
  </div>

</nav>

<!-- /NAVIGATION -->
  <section>
    <div class="container text-white">
      <h1>NE | RO</h1>
      <img src="../assets/img/line.png" alt="line">
      <h2>I Professionaly create and designed websites for your enjoyment 'xx by Angular developer xx' and 'xx by Nerijus Turauskis xx'</h2>
      <br>
      <button type="button" mat-stroked-button >EXPLORE</button>
      <button type="button" mat-stroked-button >LEARN MORE</button>
    </div>

  </section>

</header>

<!-- /HEADER -->
<router-outlet></router-outlet>
